.video {
    box-shadow: 0 2px 1px lightgray;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 20px 0;
  }
  
  .video > .title {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
  }
  .video-list {
    border-left: 1px solid lightgray;
    grid-row: span 2;
    padding: 10px;
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0px;
    overflow: auto;
  }
  
  .video-player .video-iframe {
    border: 0px;
    width: 60%;
    height: 60%;
    position: absolute;
    align-items: center;
    display: flex;
    margin-left: 270px;
    margin-top: -500px;
  }

  .form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .ytlogo {
    width: 100px;
    height: 50px;
  }

  .comments {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0px;
    width: 60%;
    height: 60%;
    align-items: center;
    display: flex;
    margin-left: 277px;
    margin-bottom: -100px;
  }

  .commentsget {
    position: absolute;
    top:90%;
    right:30%;
    align-items: center;
    margin-top: -112px;
    margin-right: -87px;

  }

  .commentlist {
    border-bottom: 4px solid rgb(184, 184, 184);
  }

  .likes {
    font-size: small;
    cursor: pointer;
  }

  .special {
    font-size: 100000px;
    color: black;
  }